<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Origins | Bibelobis</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>Origins of the Michelin Man</h1>
    <div class="about-text">
        <p>Bibendum (French pronunciation: ​[bibɛ̃dɔm]), commonly referred to in English as the Michelin Man or Michelin Tyre Man, is the official mascot of the Michelin tyre company. 
        A humanoid figure consisting of stacked white tyres, the mascot was introduced at the Lyon Exhibition of 1894 where the Michelin brothers had a stand,[1] and is one of the world's oldest trademarks. 
        The slogan Nunc est bibendum (Now is the time to drink) is taken from Horace's Odes (book I, ode xxxvii, line 1). He is also referred to as Bib or Bibelobis.[2] 
    </p>
    </div>
        <img src="/images/800px-Michelin_Poster_1898.png" alt="poster">
    <div class="about-text">
    <p>
        Michelin dominated the French tyre industry for decades and remains a leading player in the market. It was one of the leading advertisers; to this day its famous guidebooks are widely used by travellers. 
        Bibendum was depicted visually as a lord of industry, a master of all he surveyed, and a patriotic exponent of the French spirit. 
        In the 1920s, Bibendum urged Frenchmen to adopt America's superior factory system, but to patriotically avoid using the "inferior" products of those factories. 
        As automobiles became available to the middle classes, Michelin advertising likewise shifted downscale, and its restaurant and hotel guides likewise covered a broader range of price categories.[3]</p>
    </div>
    <a href="/works">Works</a>
        <a href="/home">Home Page</a>
</body>

</html>