<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Works | Bibelobis</title>
</head>
<body>
     <h1>Works</h1>
    <img src="/images/michelin-works.png" alt="poster">
    <div class="works">
    <ul>
        <li>
            Creator Eileen Gray crafted a plush, comfortable seat known as the Bibendum chair in the 1900s 
            and it is still widely recognized today as one of the 20th century’s most iconic furniture designs.
        </li>
        <li>
            When Michelin launched an Italian travel magazine in 1907, Bibendum was given a regular column to pen his thoughts.
        </li>
        <li>
            Bibendum got his first – and only – speaking engagement in December 1898 at a Paris cycle show: André Michelin had commissioned a 
            large cardboard cutout of him to be set up at the Michelin booth, and instructed a cabaret comedian to crouch behind to provide animated banter. 
        </li>
    </ul>
    </div>
    <a href="/about">Origins</a>
    <a href="/home">Home Page</a>
</body>
</html>