body {
    color: gray;
    background-color:whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

img {
    text-align: center;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.works {
    width: 750px;
    text-align: left; 
    margin-left: auto;
    margin-right: auto;
}

.about-text {
    width: 900px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    float: right;
}